-r requirements-test.txt

ipython
ipdb

wheel
pip
setuptools

flake8
flake8-builtins
flake8-bugbear
flake8-mutable
flake8-blind-except
flake8-comprehensions
cohesion
doc8
rope

Sphinx
towncrier

flask-shell-ipython
