{% extends "base.jinja" %}

{% block sidebar %}
{% if current_user.is_authenticated %}
<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">{{ gettext('blogs') }}</h2>
    {% if current_user.has_blogs %}
    <ul class="list-group list-group-flush">
      {% for blog in current_user.recent_blogs() %}
      <li class="list-group-item"><a href="{{ url_for('blog.display', blog_id=blog.id) }}">{{ blog.name }}</a> <em>({{ blog.updated|datetimeformat('short') }})</em></li>
      {% endfor %}
    </ul>
    <p class="card-text mt-4 text-center"><a href="{{ url_for('blog.create') }}" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;{{ gettext('create new') }}</a></p>
    {% endif %}
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">{{ gettext('recent posts') }}</h2>
  </div>
</div>
{% endif %}
{% endblock %}
