{% extends "base.html" %}

{% from "macros/blog.html" import post_url %}

{% block sidebar %}
{% if current_user.is_authenticated %}
<div class="card">
  <div class="card-header">
    <h2 class="card-header-title">{{ gettext('blogs').capitalize() }}</h2>
  </div>
  <div class="card-content">
    {% if recent_blogs and recent_blogs.count() %}
    <ul>
      {% for blog in recent_blogs %}
      <li><a href="{{ url_for('blog.display', blog_id=blog.id) }}">{{ blog.name }}</a> <small>({{ blog.updated|datetimeformat('short') }})</small></li>
      {% endfor %}
    </ul>
    <hr>
    <p><a href="">{{ gettext('see more') }}</a></p>
    {% else %}
    <hr>
    <p>{{ gettext('no blogs yet') }}</p>
    {% endif %}
    <hr>
    <p class="has-text-centered"><a href="{{ url_for('blog.create') }}" class="button is-primary"><span class="icon"><i class="fas fa-plus"></i></span> <span>{{ gettext('create new') }}</span></a></p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h2 class="card-header-title">{{ gettext('recent posts').capitalize() }}</h2>
  </div>
  <div class="card-content">
    {% if recent_posts and recent_posts.count() %}
    <ul>
      {% for post in recent_posts %}
      <li><a href="{{ post_url(post) }}">{{ post.title }}</a> <small>({{ post.updated|datetimeformat('short') }})</small></li>
      {% endfor %}
    </ul>
    <hr>
    <p><a href="">{{ gettext('see more') }}</a></p>
    {% else %}
    <hr>
    <p>{{ gettext('no posts yet') }}</p>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
