{% extends "user/base.html" %}

{% block pagetitle %}{{ gettext('user email confirmation').capitalize() }}{% endblock %}

{% block content %}
<div class="content">
  <h1>{{ gettext('user email confirmation').capitalize() }}</h1>
  <p>{% trans %}How user email confirmation procedure works? What are the steps?{% endtrans %}</p>
  <ol>
    <li>{% trans %}we send an email to your provided address; this email contains verification link that you need to follow by clicking on it or copying it and pasting in you web browser address bar{% endtrans %};</li>
    <li>{% trans %}if your session is not active when you click the link in an email, you will be redirected to login page then after succesful login brought back to verification page{% endtrans %};</li>
    <li>{% trans %}that's it, your email is confirmed, so says message on the page; you may want to test messages you will receive from our service by sending test email on notification preferences page{% endtrans %}.</li>
  </ol>
  <form method="post" action="{{ url_for('user.confirmation_send') }}" class="has-text-centered"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><button type="submit" class="button is-primary">{{ gettext('send me confirmation link') }}</button></form>
</div>
{% endblock %}
