{% extends "user/base.jinja" %}

{% from 'bootstrap/form.html' import render_form %}

{% block pagetitle %}{{ gettext('user account details') }}{% endblock %}

{% block content %}
<h1>{{ gettext('account details') }}</h1>
{{ render_form(form, action=url_for('user.profile'), form_type='horizontal') }}
<h2>{{ gettext('remove or deactivate account') }}</h2>
<p>{% trans %}If you decide to leave click the below button to deactivate or completely remove your account. We will miss you.{% endtrans %}</p>
<p><a href="{{ url_for('user.deactivate_or_delete') }}" class="btn btn-danger"><span class="fas fa-skull-crossbones"></span>&nbsp;{{ gettext('bye!') }}</a></p>
{% endblock %}
