{% extends "user/base.jinja" %}

{% from 'macros/forms.jinja' import render_form_fields, render_form_buttons %}

{% block pagetitle %}{{ gettext('account details').capitalize() }}{% endblock %}

{% block content %}
<h1>{{ gettext('account details').capitalize() }}</h1>
<form action="{{ url_for('user.account') }}" method="post" class="form form-horizontal" role="form">
{{ render_form_fields(form) }}
{{ render_form_buttons(form.buttons) }}
</form>
<p><a href="{{ url_for('user.profile', user_id=current_user.id) }}">{{ gettext('view your profile page').capitalize() }}</a></p>
<h2>{{ gettext('remove account').capitalize() }}</h2>
<p>{% trans %}You may temporarily deactivate your account using the form above. To completely remove your account click the button below to get to confirmation page. We will miss you.{% endtrans %}</p>
<p><a href="{{ url_for('user.confirm_delete') }}" class="btn btn-danger"><span class="fas fa-skull-crossbones"></span>&nbsp;{{ gettext('delete') }}</a></p>
{% endblock %}
