{% extends "user/base.html" %}

{% from 'bootstrap/form.html' import render_form %}

{% block pagetitle %}{{ gettext('user account details') }}{% endblock %}

{% block content %}
<h1>{{ gettext('account details') }}</h1>
{{ render_form(form, action=url_for('user.profile'), form_type='horizontal') }}
{% endblock %}

{% block sidebar %}
<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">{{ gettext('blogs') }}</h2>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">{{ gettext('recent posts') }}</h2>
  </div>
</div>
{% endblock %}
