{% extends "user/base.jinja" %}

{% block pagetitle %}{{ gettext('Profile page for %(user_name)s', user_name=user.name) }}{% endblock %}

{% block widecontent %}
<h1 class="title is-1">{{ gettext('Profile page for %(user_name)s', user_name=user.name) }}</h1>
<div class="content">
  {% if user == current_user and not (user.active and user.public) %}
  <p>{{ gettext('Your account is inactive or set as private (or both), no one except you can see this page') }}.</p>
  {% endif %}
  <dl>
    <dt>{{ gettext('user name') }}</dt>
    <dd>{{ user.name }}</dd>
    <dt>{{ gettext('date joined') }}</dt>
    <dd>{{ user.created|datetimeformat('medium') }}</dd>
  </dl>
  {% if user.blurb_html %}
  {{ user.blurb_html|safe }}
  {% endif %}
</div>
{% endblock %}

{% block sidebar %}{% endblock %}
