{% extends "user/base.jinja" %}

{% block pagetitle %}{{ gettext('remove or deactivate account') }}{% endblock %}

{% block content %}
<h1>{{ gettext('remove or deactivate account') }}</h1>
{% endblock content %}
