<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/vendor/normalize.css">
    <link rel="stylesheet" href="/static/vendor/mustard/css/mustard-ui.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    {% block extracss %}
    {% endblock %}
    {% block headjs %}
    {% endblock %}
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/favicon-48.png">
    <meta name="description" content="{% block pagedescription %}Osobista strona pana Jarka Zgody{% endblock %}">
  </head>
  <body>

    <nav role="navigation" aria-label="główny panel nawigacji">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/">Devlog</a>
        </div>
        <ul class="nav-links">
          {% block topnav %}
          <li><a href="{{ url_for('main.blog') }}">Blog</a></li>
          <li><a href="https://github.com/zgoda">Kod</a></li>
          <li><a href="/uploads/cv.pdf">Resumé</a></li>
          <li><a href="{{ url_for('main.page', path='kontakt') }}">Kontakt</a></li>
          {% endblock %}
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <div class="footer-text align-center">
        <p class="footer-links">Zmontowane własnoręcznie przy użyciu <a href="https://palletsprojects.com/p/flask/">Flask</a>, <a href="http://docs.peewee-orm.com/en/latest/">Peewee</a>, <a href="https://sqlite.org">SQLite</a>, <a href="https://kylelogue.github.io/mustard-ui/">Mustard-UI</a> i z dużą dozą przyjemności.</p>
        <p class="footer-links">Kod dostępny w <a href="https://github.com/zgoda/devlog">repozytorium na Githubie</a> na licencji MIT. Treść udostępniana na <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">licencji Creative Commons Uznanie autorstwa-Na tych samych warunkach 4.0 Międzynarodowe</a>.</p>
        <p class="footer-links"><a href="{{ url_for('main.blog') }}">blog</a> <strong>&middot;</strong> <a href="{{ url_for('main.page', path='o') }}">informacje</a> <strong>&middot;</strong> <a href="{{ url_for('main.page', path='kontakt') }}">kontakt</a></p>
      </div>
      <p class="copyright align-center">Copyright: &copy; 2019 Jarek Zgoda, wersja {{ version }}</p>
    </footer>

    {% block extrajs %}
    {% endblock %}
  </body>
</html>
