<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/vendor/bulma.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
    {% block extracss %}
    {% endblock %}
    {% block headjs %}
    {% endblock %}
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/favicon-48.png">
  </head>
  <body>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">Devlog</a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a class="navbar-item" href="#">Link</a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"><span class="fas fa-user-alt"></span>&nbsp;{{ gettext('account tools') }}</a>
              <div class="navbar-dropdown">
                  {% if current_user.is_authenticated %}
                  <a class="navbar-item" href="{{ url_for('user.account') }}"><span class="icon"><i class="fas fa-user-cog"></i></span>&nbsp;{{ gettext('account') }}</a>
                  <a class="navbar-item" href="{{ url_for('auth.logout') }}"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>&nbsp;{{ gettext('sign out') }}</a>
                  {% else %}
                  <a class="navbar-item" href="{{ url_for('auth.select') }}"><span class="icon"><i class="fas fa-sign-in-alt"></i></span>&nbsp;{{ gettext('sign in') }}</a>
                  {% endif %}              
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {% with flashes = get_flashed_messages(with_categories=True) %}
        {% for category, flash in flashes %}
          <div class="notification is-{{ category }}" role="alert">
            <button class="delete"></button>
            {{ flash }}
          </div>
        {% endfor %}
        {% endwith %}
        <div class="columns">
          <div class="column is-full">
          {% block widecontent %}
          {% endblock %}
          </div>
        </div>
        <div class="columns">
          <div class="column is-three-quarters">
          {% block content %}
          {% endblock %}
          </div>
          <div class="column is-one-quarter">
          {% block sidebar %}
          {% endblock %}
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>Copyright: &copy; 2019 Jarek Zgoda, version {{ version }}</p>
      </div>
    </footer>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          $notification = $delete.parentNode;
          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>

    {% block extrajs %}
    {% endblock %}
  </body>
</html>
