{% extends "base.html" %}

{% block pagetitle %}Devlog &middot; Jarek Zgoda{% endblock %}

{% block content %}
<div class="panel">
  <div class="row">
    <div class="col col-md-2 col-sm-4 align-center"><img src="/static/img/poyg.jpg" alt="selfie"></div>
    <div class="col col-md-10 col-sm-8">
      <p>Dzień dobry, serdecznie państwa witam na mojej stronie. Jestem programistą w wieku przedemerytalnym, mieszkam na wsi zabitej dechami i z nudów piszę dużo mało innowacyjnego kodu. Jak to starzy ludzie, lubię sobie ponarzekać, jak również lubię jeść i gotować, w tym gotować piwo.</p>
    </div>
  </div>
</div>
<section>
<h2>Ostatnie posty w blogu</h2>
{% if posts %}
{% else %}
<p>Nie ma jeszcze żadnych postów.</p>
{% endif %}
</section>
{% endblock %}
