{% extends "base.html" %}

{% from "macros/blog.html" import post_url, render_post_headline %}
{% from "macros/menus.html" import tool_dropdown %}
{% from "macros/pagination.html" import render_pagination %}

{% block pagetitle %}Devlog{% endblock %}

{% block content %}
<div class="content">
  <h1>Devlog</h1>
</div>
<div class="box">
  {% if posts %}
  {% for post in posts.items %}
  {{ render_post_headline(post) }}
  {% endfor %}
  {{ render_pagination(posts) }}
  {% else %}
  <div class="content">
    <p>{{ gettext('no posts yet').capitalize() }}.</p>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div class="card">
  <div class="card-header">
    <h2 class="card-header-title">{{ gettext('recent posts').capitalize() }}</h2>
  </div>
  <div class="card-content">
    {% if recent_posts and recent_posts.count() %}
    <ul>
      {% for post in recent_posts %}
      <li><a href="{{ post_url(post) }}">{{ post.title }}</a> <small>{{ gettext('created on %(date)s', date=format_datetime(post.created, 'short')) }} <a href="{{ url_for('blog.display', blog_id=post.blog_id) }}">{{ gettext('in %(blog)s', blog=post.blog.name) }}</a> {{ gettext('by %(user)s', user=post.author.name) }}</small></li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="content">
      <p>{{ gettext('no posts found') }}</p>
    </div>
    {% endif %}
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="card-header-title">{{ gettext('recently active blogs').capitalize() }}</h2>
  </div>
  <div class="card-content">
    {% if recent_blogs and recent_blogs.count() %}
    <ul>
      {% for blog in recent_blogs %}
      <li><a href="{{ url_for('blog.display', blog_id=blog.id) }}">{{ blog.name }}</a> <small>{{ gettext('updated %(date)s', date=format_datetime(blog.updated, 'short')) }}</small></li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="content">
      <p>{{ gettext('no blogs found') }}</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
