{% extends "errors/base.jinja" %}

{% block pagetitle %}Forbidden{% endblock %}

{% block widecontent %}
<h1 class="title is-1">{{ gettext('access forbidden').capitalize() }}</h1>
<div class="content">
  <p>{% trans %}Access to the page you're trying to open is forbidden.{% endtrans %}</p>
</div>
{% endblock %}
