{% extends "errors/base.jinja" %}

{% block pagetitle %}{{ gettext('page not found').capitalize() }}{% endblock %}

{% block widecontent %}
<h1 class="title is-1">{{ gettext('page not found').capitalize() }}</h1>
<div class="content">
  <p>{% trans %}The page you requested could not be found{% endtrans %}.</p>
</div>
{% endblock %}
