{% extends "errors/base.jinja" %}

{% block pagetitle %}{{ gettext('server error').capitalize() }}{% endblock %}

{% block widecontent %}
<h1>{{ gettext('server error').capitalize() }}</h1>
<p>{% trans %}The server encountered condition it was not able to handle. This is unrecoverable.{% endtrans %}</p>
{% endblock %}
