[Unit]
Description=uWSGI launcher for Devlog
After=network.target

[Service]
User=devlog
Group=www-data
WorkingDirectory=/home/devlog/devlog
Environment="PATH=/home/devlog/devlog/_venv/bin"
Environment="DEVLOG_CONFIG_LOCAL=/home/devlog/devlog/config/config_local.py"
Environment="DEVLOG_CONFIG_SECRETS=/home/devlog/devlog/config/secrets.py"
ExecStart=/home/devlog/devlog/_venv/bin/uwsgi --ini config/devlog.ini

[Install]
WantedBy=multi-user.target
