{% extends "post/base.html" %}

{% from "macros/forms.html" import render_form %}
{% from "macros/blog.html" import markdown_preview %}

{% block pagetitle %}{{ gettext('create new post').capitalize() }}{% endblock %}

{% block widecontent %}
<div class="content">
  <h1>{{ gettext('create new post').capitalize() }}</h1>
  <p>{{ gettext('Fill out the form below to create new post in blog %(name)s', name=blog.name) }}.</p>
  {{ render_form(form, url_for('post.create', blog_id=blog.id), width=9) }}
  <h2>{{ gettext('preview').capitalize() }}</h2>
  {{ markdown_preview('text') }}
</div>
{% endblock %}
