{% extends "post/base.html" %}

{% from 'macros/forms.html' import render_form %}
{% from 'macros/blog.html' import render_post_pubinfo, markdown_preview %}

{% block pagetitle %}{{ post.title }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/pgm_friendly.css">
{% endblock %}

{% block widecontent %}
<div class="content post">
  <h1>{{ post.title }}</h1>
  <h3>{% if post.published %}{{ gettext('published').capitalize() }}: {{ post.published|datetimeformat('long') }}{% else %}{{ gettext('draft') }}{% endif %}</h3>
  {% if post.mood %}
  <p>{{ gettext('mood: %(mood)s', mood=post.mood) }}</p>
  {% endif %}
  {% if post.text_html %}
  {{ post.text_html|safe }}
  {% else %}
  {% for line in post.text.splitlines() %}
  <p>{{ line.strip() }}</p>
  {% endfor %}
  {% endif %}
  {{ render_post_pubinfo(post) }}
  {% if current_user == post.blog.user %}
  <h3>{{ gettext('edit post').capitalize() }}</h3>
  <div class="card">
    <div class="card-content">
      {{ render_form(form, url_for('post.display', post_id=post.id), width=12) }}
    </div>
  </div>
  <h2>{{ gettext('preview').capitalize() }}</h2>
  {{ markdown_preview('text') }}
</div>
{% endif %}
{% endblock %}
