{% extends "post/base.jinja" %}

{% from 'macros/forms.jinja' import render_form %}

{% block pagetitle %}{{ post.title }}{% endblock %}

{% block content %}
<h1 class="title is-1">{{ post.title }}</h1>
<h3 class="subtitle is-3">{% if post.published %}{{ gettext('published').capitalize() }}: {{ post.published|datetimeformat('long') }}{% else %}{{ gettext('draft') }}{% endif %}</h3>
<div class="content">
  {% if post.mood %}<p>{{ gettext('mood: %(mood)s', mood=post.mood) }}</p>{% endif %}
  {% if post.text_html %}
  {{ post.text_html|safe }}
  {% else %}
  {% for line in post.text.splitlines() %}
  <p>{{ line.strip() }}</p>
  {% endfor %}
  {% endif %}
</div>
{% if current_user == post.blog.user %}
<h3 class="title is-3">{{ gettext('edit post').capitalize() }}</h3>
<div class="card">
  <div class="card-content">
    {{ render_form(form, request.path) }}
  </div>
</div>
{% endif %}
{% endblock %}
