{% extends "auth/base.html" %}

{% from "macros/forms.html" import render_form %}

{% block pagetitle %}Logowanie{% endblock %}

{% block content %}
<h2>Logowanie do serwisu</h2>
{% if partial %}
<p>Podaj swoje dane uwierzytelniające. W następnym kroku nastąpi sparowanie z aplikacją kodów jednorazowych.</p>
{% else %}
<p>Aby sparować aplikację kodów jednorazowych przejdź do <a href="{{ url_for('auth.mfa-begin') }}">procedury parowania</a>.</p>
{% endif %}
<div class="container-small block-center">
  {{ render_form(form, action=request.path) }}
</div>
{% endblock %}
