{% extends "auth/base.html" %}

{% block extracss %}
<link rel="stylesheet" href="/static/vendor/bulma-social.min.css">
{% endblock %}

{% block pagetitle %}{{ gettext('select login provider').capitalize() }}{% endblock %}

{% block widecontent %}
<h1 class="title is-1">{{ gettext('select login provider').capitalize() }}</h1>
<div class="content">
  <p>{{ gettext('Select site to authenticate with') }}.</p>
</div>
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content has-text-centered">
        <a class="button is-facebook" href="{{ url_for('auth.login', provider='facebook') }}"><span class="icon"><i class="fab fa-facebook"></i></span><span>Facebook</span></a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content has-text-centered">
        <a class="button is-google" href="{{ url_for('auth.login', provider='google') }}"><span class="icon"><i class="fab fa-google"></i></span><span>Google</span></a>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content has-text-centered">
        <a class="button is-primary" href="{{ url_for('auth.login', provider='local') }}"><span class="icon"><i class="far fa-compass"></i></span><span>{{ gettext('local').capitalize() }}</span></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
