{% extends "blog/base.jinja" %}

{% from 'macros/forms.jinja' import render_form %}

{% block pagetitle %}{{ gettext('confirm blog delete').capitalize() }}{% endblock %}

{% block widecontent %}
<h1 class="title is-1">{{ gettext('confirm blog delete').capitalize() }}</h1>
<p class="subtitle">{{ gettext('Please confirm that you really want your blog %(blog_name)s to be removed. This operation is irreversible and all content will be deleted along with your blog.', blog_name=blog.name) }}</p>
{{ render_form(form, action=url_for('blog.delete', blog_id=blog.id)) }}
{% endblock %}
