{% extends "blog/base.jinja" %}

{% from 'macros/forms.jinja' import render_form %}

{% set blog_display_url = url_for('blog.display', blog_id=blog.id) %}
{% set blog_details_url = url_for('blog.details', blog_id=blog.id) %}

{% block pagetitle %}{{ gettext('Details for blog %(name)s', name=blog.name) }}{% endblock %}

{% block content %}
<h1 class="title is-1">{{ gettext('Details for blog %(name)s', name=blog.name) }}</h1>
{{ render_form(form, blog_details_url) }}
<p class="content"><a href="{{ blog_display_url }}">{{ gettext('display blog').capitalize() }}</a></p>
<h2 class="title is-2">{{ gettext('blog removal').capitalize() }}</h2>
<p class="content">{% trans %}The above form allows to hide your blog or temporarily to make it inactive. Click the button below to go to blog deletion confirmation page if you want to completely delete your blog with all the content.{% endtrans %}</p>
<p class="content"><a href="{{ url_for('blog.delete', blog_id=blog.id) }}" class="button is-danger"><span class="fas fa-skull-crossbones"></span>&nbsp;{{ gettext('delete') }}</a></p>
{% endblock %}
