{% extends "blog/base.jinja" %}

{% from 'macros/forms.jinja' import render_form %}

{% set blog_display_url = url_for('blog.display', blog_id=blog.id) %}
{% set blog_details_url = url_for('blog.details', blog_id=blog.id) %}

{% block pagetitle %}{{ gettext('Details for blog %(name)s', name=blog.name) }}{% endblock %}

{% block content %}
<h1>{{ gettext('Details for blog %(name)s', name=blog.name) }}</h1>
{{ render_form(form, blog_details_url) }}
<p><a href="{{ blog_display_url }}">{{ gettext('display blog').capitalize() }}</a></p>
{% endblock %}
