{% extends "blog/base.html" %}

{% from 'macros/forms.html' import render_form, fileinput_js %}

{% set blog_display_url = url_for('blog.display', blog_id=blog.id) %}
{% set blog_details_url = url_for('blog.details', blog_id=blog.id) %}
{% set post_import_url = url_for('blog.import_posts', blog_id=blog.id) %}

{% block pagetitle %}{{ gettext('Details for blog %(name)s', name=blog.name) }}{% endblock %}

{% block widecontent %}
<div class="content">
  <h1>{{ gettext('Details for blog %(name)s', name=blog.name) }}</h1>
  {{ render_form(form, blog_details_url, width=9) }}
  <p><a href="{{ blog_display_url }}">{{ gettext('display blog').capitalize() }}</a></p>
  <h2>{{ gettext('import posts').capitalize() }}</h2>
  {{ render_form(import_form, post_import_url, width=6, has_files=True) }}
  <h2>{{ gettext('blog removal').capitalize() }}</h2>
  <p>{% trans %}The above form allows to hide your blog or temporarily to make it inactive. Click the button below to go to blog deletion confirmation page if you want to completely delete your blog with all the content.{% endtrans %}</p>
  <p class="has-text-centered"><a href="{{ url_for('blog.delete', blog_id=blog.id) }}" class="button is-danger"><span class="icon"><i class="fas fa-skull-crossbones"></i></span>&nbsp;<span>{{ gettext('delete') }}</span></a></p>
</div>
{% endblock %}

{% block extrajs %}
{{ fileinput_js }}
{% endblock %}
