{% extends "blog/base.jinja" %}

{% from "macros/blog.jinja" import render_post_headline %}

{% block pagetitle %}{{ blog.name }}{% endblock %}

{% block content %}
<h1 class="title is-1">{{ blog.name }}</h1>
{% if blog.blurb_html %}
<div class="content">
  {{ blog.blurb_html|safe }}
</div>
{% endif %}
{% if current_user == blog.user %}
<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="owner-tools-menu">
      <span class="icon is-small">
        <i class="fas fa-cog"></i>
      </span>
      <span>{{ gettext('tools') }}</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="owner-tools-menu" role="menu">
    <div class="dropdown-content">
      <a href="{{ url_for('blog.details', blog_id=blog.id) }}" class="dropdown-item">{{ gettext('edit blog') }}</a>
      <a href="{{ url_for('post.create', blog_id=blog.id) }}" class="dropdown-item">{{ gettext('add post') }}</a>
    </div>
  </div>
</div>
{% endif %}
{% for post in posts.items %}
{{ render_post_headline(post) }}
{% endfor %}
{% endblock %}
