{% extends "blog/base.jinja" %}

{% from "macros/blog.jinja" import render_post_headline %}
{% from "macros/menus.jinja" import tool_dropdown %}

{% block pagetitle %}{{ blog.name }}{% endblock %}

{% block content %}
<h1 class="title is-1">{{ blog.name }}</h1>
{% if blog.blurb_html %}
<div class="content">
  {{ blog.blurb_html|safe }}
</div>
{% endif %}
{% if current_user == blog.user %}
{% set menu_items = [
  (url_for('blog.details', blog_id=blog.id), gettext('edit blog')),
  (url_for('post.create', blog_id=blog.id), gettext('add post')),
] %}
{{ tool_dropdown(gettext('tools'), menu_items, 'owner-tools-menu') }}
{% endif %}
<hr class="is-large">
<div class="box">
  <h2 class="title is-2">{{ gettext('recent posts').capitalize() }}</h2>
  {% for post in posts.items %}
  {{ render_post_headline(post) }}
  {% else %}
  <div class="content">
    <p>{{ gettext('no posts yet').capitalize() }}.</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
