{% extends "blog/base.html" %}

{% from "macros/forms.html" import render_form, fileinput_js %}

{% block pagetitle %}{{ gettext('import posts').capitalize() }}{% endblock %}

{% block widecontent %}
<div class="content">
  <h1>{{ gettext('import posts').capitalize() }}</h1>
  <p>{% trans %}You may import posts from Markdown files. Each file must contain one post and provide at least title in YAML metadata, date is optional but if provided it will be set as post creation date, otherwise current date and time will be used.{% endtrans %}</p>
  <h2>{{ gettext('example content').capitalize() }}</h2>
  <pre>
    <code>
      ---
      title: My post title
      date: 2019-12-13
      ---

      This is my post content as [Markdown](https://en.wikipedia.org/wiki/Markdown). All usual _styling_ **is supported**.
    </code>
  </pre>
  <p>{% trans %}The form below allows to upload multiple files at once. Only valid files will be processed and import will report failure if none of uploaded files is valid. Importing takes some time but usually your posts should appear on site within couple minutes.{% endtrans %}</p>
  {{ render_form(form, url_for('blog.import_posts', blog_id=blog.id), width=6, has_files=True) }}
</div>
{% endblock %}

{% block extrajs %}
{{ fileinput_js() }}
{% endblock %}
