{% extends "blog/base.html" %}

{% from "macros/blog.html" import render_tags %}

{% block pagedescription %}{% if post.description %}{{ post.description }}{% else %}{{ super() }}{% endif %}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/pgm_friendly.css">
{% endblock %}

{% block pagetitle %}{{ post.title }}{% endblock %}

{% block content %}
<section>
  <h2>{{ post.title }}</h2>
  <p>{{ format_datetime(post.created, format='short') }}</p>
  {{ render_tags(tags) }}
  <div class="post-text">
    {{ post.text_html|safe }}
  </div>
  <p><a href="javascript:history.back()">Powrót...</a></p>
</section>
{% endblock %}
