{% extends "blog/base.html" %}

{% from "macros/blog.html" import render_pagination, render_quip %}

{% block pagedescription %}ploteczki, czyli mikroblog{% endblock %}

{% block pagetitle %}Ploteczki, czyli mikroblog{% endblock %}

{% block content %}
<section>
  <h2>Ploteczki, czyli mikroblog</h2>
  {% for row in pagination.items|batch(3) %}
  <div class="row">
    {% for quip in row %}
    {{ render_quip(quip) }}
    {% endfor %}
  </div>
  {% else %}
  <p>Nie ma jeszcze żadnych plotek.</p>
  {% endfor %}
  {{ render_pagination(pagination) }}
</section>
{% endblock %}
