{% extends "blog/base.html" %}

{% set quip_date = format_datetime(quip.created, format='short') %}

{% block pagedescription %}{{ quip.text }}{% endblock %}

{% block pagetitle %}Ploteczka z {{ quip_date }}{% endblock %}

{% block content %}
<section class="container-small">
  <div class="panel">
    {% if quip.title %}
    <div class="panel-head">
      <h6 class="panel-title">{{ quip.title }}</h6>
    </div>
    {% endif %}
    <div class="panel-body">
      {{ quip.text_html|safe }}
    </div>
    <div class="panel-footer">
      <p class="align-right"><em>{{ quip_date }}</em></p>
    </div>
  </div>  
</section>
{% endblock %}
