{% macro render_post_headline(post) %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{ post.title }}</h2>
    <p class="card-text">{{ post.summary_html|safe }}</p>
    <a href="{{ url_for('post.display', post_id=post.id) }}" class="card-link">{{ gettext('read more') }}</a>
  </div>
</div>
{%- endmacro %}
