GITHUB_CLIENT_ID = 'client id'
GITHUB_CLIENT_SECRET = 'client secret'
GITHUB_ACCESS_TOKEN_METHOD = 'POST'
GITHUB_ACCESS_TOKEN_URL = 'https://github.com/login/oauth/access_token'
GITHUB_AUTHORIZE_URL = 'https://github.com/login/oauth/authorize'
GITHUB_API_BASE_URL = 'https://api.github.com/'
GITHUB_CLIENT_KWARGS = {
    'scope': 'user:email'
}
